@import '../scss/mixins';

.detail-view {
	// xs
	@media (max-width: 320px) {
		padding-top: 0.5rem !important;
	}
}

.detail-view::before {
	// sm
	@media (min-width: 576px) {
		background: #0e1e24;
		content: ' ';
		display: block;
		height: 230px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}
}

.detail-view::before {
	// lg
	@media (min-width: 992px) {
		height: 264px;
	}
}

.mobile-container {
	// xs
	@media (max-width: 320px) {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}
}

.card-img-top-div {
	@include cardImgTopDiv;
	// xs
	@media (max-width: 320px) {
		@include cardImgTopDivPaddingXS;
	}
	//md
	@media (min-width: 768px) {
		@include cardImgTopDivPaddingMD;
	}
}

.bade {
	// xs
	@media (max-width: 320px) {
		margin-left: 0 !important;
		margin-right: auto;
	}
}

.card-body {
	@include cardBodyPaddingDefault;
	// xs
	@media (max-width: 320px) {
		@include cardBodyPaddingXS;
	}
	//md
	@media (min-width: 768px) {
		@include cardBodyPaddingMD;
	}
}
