@import '../scss/mixins';

.mobile-container {
	// xs
	@media (max-width: 320px) {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}
}

.first-card {
	margin-top: 0 !important;
}

.card-body {
	@include cardBodyPaddingDefault;
	// xs
	@media (max-width: 320px) {
		@include cardBodyPaddingXS;
	}
}

.card-img-top-div {
	@include cardImgTopDiv;
	// xs
	@media (max-width: 320px) {
		@include cardImgTopDivPaddingXS;
	}
}
