$height: 80px;

.brand {
	div {
		height: $height;
	}
	svg {
		height: $height;
		width: auto;
		display: inline-block;
		vertical-align: top;
	}
}

.navbar {
 	position: absolute !important;
 	width: 100%;
 }
