.blockquote-footer::before {
	content: '\2014 \00A0';
	display: inline;
}

.card-body {
	@media (max-width: 767px) {
		padding-bottom: 3rem;
		// padding-left: 3.75rem;
		// padding-right: 3.75rem;
	}
}
