.quotes-col {
	//md
	@media (min-width: 768px) {
		padding-left: 40px;
		padding-right: 40px;
	}

	// lg
	@media (min-width: 992px) {
		padding-left: 60px;
		padding-right: 60px;
	}

	// xl
	@media (min-width: 1200px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.quote-symbol {
	position: absolute;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	top: 0;
	left: 0px;
	width: 100%;
	-webkit-box-pack: center;
	justify-content: center;
	transform: translateY(-50%);

	//md
	@media (min-width: 768px) {
		width: auto;
		height: 100%;
		transform: translate(-50%, 0%);
	}
}

.quote-symbol-background {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px 0px;
	background-color: rgb(255, 255, 255);
	border-radius: 100%;
}

.quote-symbol-font {
	padding: 20px;
	line-height: 1;
	// lg
	@media (min-width: 992px) {
		padding: 30px;
	}
}

.quote-symbol-svg {
	width: 40px;
	height: 40px;
	@media (min-width: 992px) {
		width: 60px;
		height: 60px;
	}
}

.blockquote-footer::before {
	content: '\2014 \00A0';
	display: inline;
}

.card-body {
	@media (max-width: 767px) {
		padding-bottom: 3rem;
	}
}
