.form-control {
	height: calc(2.5rem + 2px);
	padding: 0.75rem 1rem;
	font-size: 1rem;
	border-radius: 0.2353rem;
	border: 2px solid rgba(14, 30, 37, 0.09);
}

.recaptcha-form-group {
	@media (max-width: 375px) {
		margin-bottom: calc(1rem - 5px) !important;
	}

	@media (max-width: 320px) {
		margin-bottom: calc(1rem - 5px) !important;
	}

	// lg - xl
	@media (min-width: 992px) and (max-width: 1199px) {
		margin-bottom: calc(1rem + 4px) !important;
	}
}

.recaptcha-wrapper {
	@media (max-width: 375px) {
		transform: scale(0.96, 0.96);
		transform-origin: top left;
	}

	@media (max-width: 320px) {
		transform: scale(0.94, 0.94);
		transform-origin: top left;
	}

	// lg - xl
	@media (min-width: 992px) and (max-width: 1199px) {
		transform: scale(1.07, 1.07);
		transform-origin: top left;
	}
}
