/* theme 1 */

// $primaryBase: #335eea;
// $secondaryBase: #506690;
// $successBase: #42ba96;
// $infoBase: #7c69ef;
// $warningBase: #fad776;
// $dangerBase: #df4759;
// $lightBase: #f9fbfd;
// $darkBase: #2b354f;
// $blackBase: #161c2d;

/* theme 2 */

// $primaryBase: #222831;
// $secondaryBase: #181C22;
// $successBase: #42ba96;
// $infoBase: #7c69ef;
// $warningBase: #fad776;
// $dangerBase: #df4759;
// $lightBase: #f9fbfd;
// $darkBase: #1A1D24;
// $blackBase: black;

/* theme 3 */

$primaryBase: #335eea;
$secondaryBase: #506690;
$successBase: #42ba96;
$infoBase: #7c69ef;
$warningBase: #fad776;
$dangerBase: #df4759;
$lightBase: #f9fbfd;
$darkBase: #222831;
$blackBase: #1A1D24;
$whiteBase: #ffffff;

// $blackBase: #181C22;