.collapse-toggler {
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 1;
	color: #fff;
	border-color: transparent;
	padding: 0.25rem 0.75rem;
	font-size: 1.1875rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.375rem;
}

.collapse-toggler:hover,
.collapse-toggler:active {
	background: transparent !important;
}

.mapboxgl-canvas:focus {
	outline: none;
}

.modal-footer {
	padding: 1rem;
}

.btn,
.btn.btn-sm,
.card,
.rounded {
	border-radius: 0.2353rem !important;
}

.no-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.form-check {
	padding-left: 0;
}

.form-check label:after {
	content: '';
	display: table;
	clear: both;
}

.form-check .cr {
	position: relative;
	display: inline-block;
	border: 1px solid #a9a9a9;
	border-radius: 0.25em;
	width: 1.3em;
	height: 1.3em;
	// float: left;
	margin-right: 0.5em;
	margin-top: 0.15em;
}

.form-check .cr .cr-icon {
	position: absolute;
	font-size: 0.8em;
	line-height: 0;
	top: 50%;
	left: 15%;
}

.form-check label input[type='checkbox'] {
	display: none;
}

.form-check label input[type='checkbox'] + .cr > .cr-icon {
	opacity: 0;
}

.form-check label input[type='checkbox']:checked + .cr > .cr-icon {
	opacity: 1;
}

@media (max-width: 991px) {
	.hidden-md-down {
		display: none;
	}
	footer .border-right {
		border-right: none !important;
	}

	.btn-md-down-block {
		display: block;
		width: 100%;
	}
}

@media (max-width: 480px) {
	.modal-body {
		padding: 1rem;
	}
}

@media (max-width: 320px) {
	.flickity-prev-next-button {
		top: 44%;
	}
}

@media (min-width: 1921px) {
	.pt-xxl-0,
	.py-xxl-0 {
		padding-top: 0 !important;
	}
	.pb-xxl-0,
	.py-xxl-0 {
		padding-bottom: 0 !important;
	}

	.pt-xxl-1,
	.py-xxl-1 {
		padding-top: 0.25rem !important;
	}
	.pb-xxl-1,
	.py-xxl-1 {
		padding-bottom: 0.25rem !important;
	}

	.pt-xxl-2,
	.py-xxl-2 {
		padding-top: 0.5rem !important;
	}
	.pb-xxl-2,
	.py-xxl-2 {
		padding-bottom: 0.5rem !important;
	}

	.pt-xxl-3,
	.py-xxl-3 {
		padding-top: 0.75rem !important;
	}
	.pb-xxl-3,
	.py-xxl-3 {
		padding-bottom: 0.75rem !important;
	}

	.pt-xxl-4,
	.py-xxl-4 {
		padding-top: 1rem !important;
	}
	.pb-xxl-4,
	.py-xxl-4 {
		padding-bottom: 1rem !important;
	}

	.pt-xxl-5,
	.py-xxl-5 {
		padding-top: 1.5rem !important;
	}
	.pb-xxl-5,
	.py-xxl-5 {
		padding-bottom: 1.5rem !important;
	}

	.pt-xxl-6,
	.py-xxl-6 {
		padding-top: 2rem !important;
	}
	.pb-xxl-6,
	.py-xxl-6 {
		padding-bottom: 2rem !important;
	}

	.pt-xxl-7,
	.py-xxl-7 {
		padding-top: 2.5rem !important;
	}
	.pb-xxl-7,
	.py-xxl-7 {
		padding-bottom: 2.5rem !important;
	}

	.pt-xxl-8,
	.py-xxl-8 {
		padding-top: 3rem !important;
	}
	.pb-xxl-8,
	.py-xxl-8 {
		padding-bottom: 3rem !important;
	}

	.pt-xxl-9,
	.py-xxl-9 {
		padding-top: 4rem !important;
	}
	.pb-xxl-9,
	.py-xxl-9 {
		padding-bottom: 4rem !important;
	}

	.pt-xxl-10,
	.py-xxl-10 {
		padding-top: 5rem !important;
	}
	.pb-xxl-10,
	.py-xxl-10 {
		padding-bottom: 5rem !important;
	}

	.pt-xxl-11,
	.py-xxl-11 {
		padding-top: 6rem !important;
	}
	.pb-xxl-11,
	.py-xxl-11 {
		padding-bottom: 6rem !important;
	}

	.pt-xxl-12,
	.py-xxl-12 {
		padding-top: 8rem !important;
	}
	.pb-xxl-12,
	.py-xxl-12 {
		padding-bottom: 8rem !important;
	}

	.pt-xxl-13,
	.py-xxl-13 {
		padding-top: 10rem !important;
	}
	.pb-xxl-13,
	.py-xxl-13 {
		padding-bottom: 10rem !important;
	}

	.pt-xxl-14,
	.py-xxl-14 {
		padding-top: 12rem !important;
	}
	.pb-xxl-14,
	.py-xxl-14 {
		padding-bottom: 12rem !important;
	}

	.pt-xxl-15,
	.py-xxl-15 {
		padding-top: 16rem !important;
	}
	.pb-xxl-15,
	.py-xxl-15 {
		padding-bottom: 16rem !important;
	}

	.pt-xxl-16,
	.py-xxl-16 {
		padding-top: 25rem !important;
	}
	.pb-xxl-16,
	.py-xxl-16 {
		padding-bottom: 25rem !important;
	}

	.two-col-header .two-col-header-item {
		height: 75vh;
		min-height: 628px;
	}
	.two-col-header-item--text {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

/* ------------- KLETTERLEHRER STYLES ------------- */

.container {
	// xxxl
	@media (min-width: 1920px) {
		max-width: 1400px;
	}
}

.list-item p {
	margin-bottom: 0 !important;
}

.lift:focus,
.lift:hover {
	transform: translateY(-0.25rem);
	box-shadow: rgba(46, 41, 51, 0.08) 0px 4px 8px, rgba(71, 63, 79, 0.16) 0px 8px 16px !important;
}

.shadow-dark-sm {
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 4px 0 rgba(14, 30, 37, 0.12);
}

// auslagern in komponente
.btn-submit {
	i::before {
		display: inline-block;
		transform: rotate(45deg);
	}
}
